<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbine.qa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.mbine.qa.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mbine.qa.QPackageActivity"
            android:label="@string/title_activity_package" >
        </activity>
        <activity
            android:name="com.mbine.qa.QQActivity"
            android:label="@string/title_activity_qp" >
        </activity>
        <activity
            android:name="com.mbine.qa.QCActivity"
            android:label="@string/title_activity_qc" >
        </activity>
        <activity
            android:name="com.mbine.qa.QMActivity"
            android:label="@string/title_activity_qm" >
        </activity>
        <activity
            android:name="com.mbine.qa.QIActivity"
            android:label="@string/title_activity_qi" >
        </activity>
        <activity
            android:name="com.mbine.qa.QPListActivity"
            android:label="@string/title_activity_qplist"
            android:parentActivityName="com.mbine.qa.QPackageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mbine.qa.QPackageActivity" />
        </activity>
        <activity
            android:name="com.mbine.qa.QMainActivity"
            android:label="@string/title_activity_qmain" >
        </activity>
        <activity
            android:name="com.mbine.qa.QCreateActivity"
            android:label="@string/title_activity_qcreate" >
        </activity>
        <activity
            android:name="com.mbine.qa.QQMainActivity"
            android:label="@string/title_activity_qqmain" >
        </activity>
        <activity
            android:name="com.mbine.qa.qactivity.FragQInfoActivity"
            android:label="@string/title_activity_frag_qinfo" >
        </activity>
        <activity
            android:name="com.mbine.qa.qactivity.FragQCommentActivity"
            android:label="@string/title_activity_frag_qcomment" >
        </activity>
        <activity
            android:name="com.mbine.qa.qactivity.FragQAnswerActivity"
            android:label="@string/title_activity_frag_qanswer" >
        </activity>
        <activity
            android:name="com.mbine.qa.QSearchActivity"
            android:label="@string/title_activity_qsearch" >
        </activity>
        <activity
            android:name="com.mbine.qa.PCreateActivity"
            android:label="@string/title_activity_pcreate" >
        </activity>
        <activity
            android:name="com.mbine.qa.QAnswerActivity"
            android:label="@string/title_activity_qanswer" >
        </activity>
        <activity
            android:name="com.mbine.qa.QAnswerResultActivity"
            android:label="@string/title_activity_qanswer_result" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        <activity
            android:name="com.mbine.qa.DFavActivity"
            android:label="@string/title_activity_dfav" >
        </activity>
        <activity
            android:name="com.mbine.qa.DFriendsActivity"
            android:label="@string/title_activity_dfriends" >
        </activity>
        <activity
            android:name="com.mbine.qa.DMyPageActivity"
            android:label="@string/title_activity_dmy_page" >
        </activity>
        <activity
            android:name="com.mbine.qa.DSettingActivity"
            android:label="@string/title_activity_dsetting" >
        </activity>
        <activity
            android:name="com.mbine.qa.DAboutActivity"
            android:label="@string/title_activity_dabout" >
        </activity>
        <activity
            android:name="com.mbine.qa.QQuizListActivity"
            android:label="@string/title_activity_qquiz_list" >
        </activity>
        <activity
            android:name="com.mbine.qa.QCategoryListActivity"
            android:label="@string/title_activity_qcategory_list" >
        </activity>
        <activity
            android:name="com.mbine.qa.QFavListActivity"
            android:label="@string/title_activity_qfav_list" >
        </activity>
    </application>

</manifest>
